/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 150%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: lightgrey;
}

.attribution {
  font-family: serif;
  font-size:0.6em;
  text-align: right;
}


