/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: aqua;
}

.attribution {
  font-family: cursive;
  font-size:0.7em;
  text-align: right;
  padding-left: 2%;
  padding-top:1%;
}

.footer-link {
    font-size: 2em;
    color: dodgerblue;
}

#box {
    padding-top: 2em;
}


#attribution {
    padding-top: 1em;
    padding-bottom: 2em;
}

#social-button {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}


.footer-break {
    background-color: red;
    border-color: red;
    height: 4px;
}

.footer-links {
    font-size:1.8em;
}

#address {
    font-size: 1.5em;
}



.social-padding {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#box-address {
    padding-top: 2em;
    padding-left:5%;
    padding-bottom: 2em;
}
