footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #303F9F;
}

.attribution {
  font-family: cursive;
  font-size:0.7em;
  text-align: right;
  padding-left: 2%;
  padding-top:1%;
}

.footer-link {
    font-size: 2em;
    color: #C5CAE9;
}

.footer-link:hover,
.footer-link:focus {
    color:#C5CAE9;
    text-decoration: none;
}

#box {
    padding-top: 2em;
}

#attribution {
    padding-top: 1em;
    padding-bottom: 2em;
}

#social-button {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

.footer-break {
    background-color: #B6B6B6;
    border-color: #B6B6B6;
    height: 4px;
}

.footer-header {
    font-size:2em;
    color: aliceblue;
}

#address {
    font-size: 1.5em;
}

.social-padding {
    padding-bottom: 2.5%;
}

.social-padding .btn:hover {
    color: #C5CAE9;
}

#box-address {
    padding-top: 2em;
    padding-bottom: 1em;
}
.hero-footer {
    background-color: transparent;
    padding-top: 50px;
}

.attribute {
    font-size: 0.8em;
    color: slategray;
}
