.navbar {
    font-size: 1em;
    margin-bottom: 20px;
}

.logo {
    padding-left: 2em;
}

.navbar-custom {
    background-color: #303F9F;
    border-color: #303F9F;
    border-radius: 2px;
}

.navbar-custom .navbar-brand {
    color: peru;
    font-family: monospace;
    font-style: italic;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #C5CAE9;
}

.navbar-custom .navbar-nav > li > a {
    color: #C5CAE9;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: teal;
    background-color: teal;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #212121;
    background-color: #C5CAE9;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #C5CAE9;
    border-bottom-color: #C5CAE9;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

.navbar-custom .navbar-toggle {
    border-color: #303F9F;
    background-color: #C5CAE9;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #C5CAE9;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #303F9F;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #C5CAE9;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #212121;
    }
}

.navbar-logo {
    font-family: serif;
}

.navbar .input-group .input-group-btn .btn-success {
    background-color: deepskyblue;
    border-color: gray;
    color: #303F9F;
    border-radius: 0px;
}

.navbar .navbar-form .input-group .form-control {
    background-color: whitesmoke;
    border-color: gray;
    color: darkslategrey;
    border-radius: 0px;
}

.search-box {
    padding-right: 20px;
}

.navbar-padding {
    padding-bottom: 5em;
}