.navbar {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.logo {
    padding-left: 2em;
}

.carousel {
    height: 500px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.carousel-caption {
    z-index: 10;
}

.container .carousel .carousel-inner .carousel-caption h1 {
    font-family: 'Roboto', sans-serif;
}

.container .carousel .carousel-inner .carousel-caption p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.container .carousel .carousel-inner .first-slide,
.container .carousel .carousel-inner .second-slide,
.container .carousel .carousel-inner .third-slide {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(2px);
}

.carousel .item {
    height: 500px;
    background-color: #212121;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-custom {
    background-color: #303F9F;
    border-color: #303F9F;
    border-radius: 5px;
}

.navbar-custom .navbar-brand {
    color: aqua;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #C5CAE9;
}

.navbar-custom .navbar-nav > li > a {
    color: #C5CAE9;
    ;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: gray;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: teal;
    background-color: teal;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #212121;
    background-color: #C5CAE9;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #C5CAE9;
    border-bottom-color: #C5CAE9;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

.navbar-custom .navbar-toggle {
    border-color: #303F9F;
    background-color: #C5CAE9;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #C5CAE9;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #303F9F;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #C5CAE9;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #212121;
    }
}

.navbar-logo {
    font-family: serif;
}

.navbar .input-group .input-group-btn .btn-success {
    background-color: deepskyblue;
    border-color: gray;
    color: #303F9F;
    border-radius: 0px;
}

.navbar .navbar-form .input-group .form-control {
    background-color: whitesmoke;
    border-color: gray;
    color: darkslategrey;
    border-radius: 0px;
}

.search-box {
    padding-right: 20px;
}

.navbar-padding {
    padding-bottom: 5em;
}


/*optional*/

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}