body {
    padding-top: 50px;
}

html, body {
  height: 100%;
}

.about-text {
    font-size:1.2em;
    padding-bottom: 5px;
}

.description {
    font-size:1.2em;
}

.img-responsive {
    padding-bottom: 1%;
}

.fineprint {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 5px;
}

.featurette-divider {
    margin: 30px 0;
}

.featurette-heading {
    font-size: 3em;
    padding-left: 0.2em;
}

.lead {
    padding-left: 0.5em;
}

.col-md-8 .button-padding {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.no-padding {
    font-size: 2em;
}

.container .row .input-group .input-group-addon,
.container .row .input-group .form-control,
.container .row .input-group .input-group-btn .btn{
    border-radius: 2px;
    border-color: none;
}

.container .row .btn {
    border-radius:3px;
}

.page-header {
    padding-top: 0px !important;
}

.highlight-text {
    font-size: 1.2em;
}

.pathway-chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

#pathway-box {
    position: relative;
}

.jumbotron{
    background-color: whitesmoke !important;
    border-radius: 2px !important;
}
.container-fluid{
    padding:0 !important;
    border-radius: 0px;
}

       .header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

/* landing page */
.lead {
    font-size: 18px;
    font-weight: 400;
}

.odd-section {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.even-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../../assets/bing-space.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.banner {
    padding: 100px;
    color: #f8f8f8;
    background: url(../../../assets/material.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.banner-header {
    padding: 50px;
    color: #f8f8f8;
    background: url(../../../assets/wallpaper-header.png) no-repeat center center;
    background-size: cover;
}

.banner-header h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}


.well {
    border-radius: 0px !important;
    background-color: transparent!important;
}